@import url('../customStyle.css');
body{
  font-size: 14px;
}
.sidebar-menu li a {
  color: black;
  font-weight: 500;
}

.sidebar-menu li#aDoctor a {
  color: #009efb;
  /*background-color: #2a9c31;*/
  background-color: #e3e7e8;
}

i.fa.fa-bars{
  padding-top: 14px;
}

.custom-seach{
  border-radius: 15px;
  width: 35% !important;
  height: 35px;
  font-size: 16px;

}
.btn-primary{
  width: 105px;
  height: 30px;
  font-size: 14px;
}
.custom-btn{
  width: 80px;
  height: 35px;
  font-size: 14px;
}
span.status.online{
  left: 14px;
  top: 16px;
}
.doctorID{
  display: none;
}



#colorIcon{
  color: #009efb;
}

div.doc-prof1{
  font-size: 14px;
  font-weight: bold;
}
