<div class="page-wrapper">
  <div id="contentLoad" class="content">
      <div class="row">
          <div class="col-sm-8 col-4">
              <h4 class="page-title">Clinics</h4>
          </div>
          <div class="col-sm-4 col-8 text-right m-b-30">
              <a class="btn btn-primary btn-rounded float-right" href="add-clinic.jsp"><i class="fa fa-plus"></i> Add Clinic</a>
          </div>
      </div>
      <form role="form" id="form-buscar">
          <div class="form-group">
              <div class="input-group ">
                  <input onkeyup="myFunction()" id="searchClinic" class="custom-seach " type="text" name="search" placeholder="Search..." required/>
              </div>
          </div>
      </form>
      <div id="pagination-1" class="row grid-blog">
                          <div class="col-sm-6 col-md-6 col-lg-4 pagination__item">
                              <div class="blog grid-blog">
                                  <div class="blog-image">
                                      <a href="clinic-details.jsp"><img class="img-fluid" src="assets/img/clinic/clinic-01.jpg" alt=""></a>
                                  </div>
                                  <div class="blog-content">
                                      <h3 class="blog-title"><a href="clinic-details.jsp">PHÒNG KHÁM ĐA KHOA THÀNH CÔNG</a></h3>
                                      <p>Địa chỉ: 36 Tây Thạnh ( đường CN4 KCN Tân Bình), P. Tây Thạnh, Q. Tân Phú, TP. HCM</p>
                                      <a href="clinic-details.jsp" class="read-more"><i class="fa fa-long-arrow-right"></i> Read More</a>
                                      <div class="blog-info clearfix">
                                          <div class="post-left">
                                              <ul>
                                                  <li><a href="#."><i class="fa fa-calendar"></i> <span>December 6, 2019</span></a></li>
                                              </ul>
                                          </div>
                                          <div class="post-right"><a href="#."><i class="fa fa-heart-o"></i>21</a> <a href="#."><i class="fa fa-eye"></i>8</a> <a href="#."><i class="fa fa-comment-o"></i>17</a></div>
                                      </div>
                                  </div>
                              </div>
                          </div>

      </div>
  </div>
  <div class="overlay"></div>
